input,
label,
button,
a {
    transition: all 0.4s ease;
}

.content {
    font-size: 0.80rem;
}

.card-header {
    background: #fff;
    font-size: 1.0rem;
}

.menu_list_show__a ul li a {
    font-size: 16px !important;
}

.main #logo_inside {
    position: relative;
    padding-right: 4rem;
    left: 4%;
    overflow: hidden;
    line-height: 4px;
    top: 1vh;
    cursor: pointer;
    display: flex;
}

.main #logo_inside .img {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 60px;
    padding: 0;
    padding: 10px 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 0;
}

.main #logo_inside .img img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.main #logo_inside:hover h1 {
    color: #fff;
}

.main .map_card__title {
    font-size: 1.25rem;
}

.main .map_card__summ__val {
    font-size: 1.25rem;
}

.main .map_card {
    max-width: 24rem;
}

.top_border {
    border-top: 1px solid #c1c1c1;
    padding-top: 1.25rem;
}

.card {
    background: #fff;
    border-radius: 0;
    border: 0;
    box-shadow: none;
}

.singIn {
    width: 100%;
    height: AUTO;
    cursor: pointer;
    padding: 15px 0;
}

.singIn:hover {
    background: #2b939a;
}

.singIn .fa {
    FONT-SIZE: 2rem;
}

.main #sidebar .userBlock {
    padding: 0.2rem 0 0.6rem;
    position: relative;
    cursor: pointer;
}

.main #sidebar .userBlock:hover {
    background: #2b939a;
}

.main #sidebar .userBlock:hover .sub_menu {
    opacity: 1 !important;
    right: 110px;
}

.main #sidebar .userBlock .sub_menu {
    animation-duration: 4s;
    animation-name: fadeIn;
    background: #fff;
    color: #424141;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    opacity: 0;
    position: absolute;
    right: -220px;
    top: 0;
    width: 12rem;
    z-index: 9;
}

.main #sidebar .userBlock .sub_menu__a {
    height: 100%;
    padding: 9px 0 0 0;
}

.sub_menu__a {
    font-size: 16px !important;
}

.main #sidebar .userBlock .sub_menu__a--active,
.main #sidebar .userBlock .sub_menu__a:hover {
    background: #e8fbfd !important;
}

.main #sidebar .menu__title {
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    background: #999CA3;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.21);
    width: 100px;
    height: 40px;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

.main #sidebar .user_prof .menu__title:nth-child(3) {
    top: 70px;
    box-shadow: 0px 11px 16px rgba(0, 0, 0, 0.21);
}

.main #sidebar .user_prof .menu__title:nth-child(3)::before {
    width: 0;
    height: 0;
}

.select_city .select2-container--default .select2-selection--single {
    background: none;
    color: #fff;
    border: 0;
    outline: none;
}

.select_city .select2-results__option {
    color: #fff;
}

.select_city {
    padding: 15px 0;
}

.menu_list_show__a .select_city p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    font-size: 12px;
    margin: 0;
    color: #FFFFFF;
    padding: 0 25px;
}

.select_city label {
    width: 100%;
}

.select2-container--default .select2-results>.select2-results__options {
    background: rgb(63, 68, 74);
}

.select2-results__option[aria-selected] {
    cursor: pointer;
    padding: 7px 25px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    font-size: 14px;
    color: #FFFFFF;
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected=true] {
    color: white !important;
    background: #333 !important;
}

.select2-dropdown {
    border: 0 !important;
}

.select_city .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 25px;
}

.main #sidebar .menu__title::before {
    content: "";
    width: 20px;
    height: 20px;
    right: -3px;
    background: #999ca3;
    position: absolute;
    transform: rotate(45deg);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.main #sidebar .menu__a:hover .menu__title {
    left: -135%;
    opacity: 1;
}

.main #sidebar .share__title {
    font-size: 14px;
}

.main #sidebar .menu__a:hover i{
    color: #03B6C8;
}

.main #sidebar .menu__a:hover .menu__title {
    color: #fff;
}

.loginBg {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: -1;
}

.loginBg__blue {
    background: #d8f4f7;
    width: 100%;
    height: 45vh;
}

.loginBg__white {
    width: 100%;
    height: 100%;
}

.link {
    color: #2b939a;
}

.link:hover {
    opacity: 0.8;
}

.btn {
    padding: 0 2.5rem;
    border-radius: 2px;
}

.card--login {
    margin: 15vh auto;
    max-width: 30rem;
    padding: 2.5rem 2.5rem 1rem;
}

.card--login .card-header {
    text-align: center;
    font-size: 22px;
    margin-bottom: 1rem;
}

.card--login .card-body {}

.loginForm {}

.c_group {
    margin-bottom: 1.5rem;
}

.loginForm___note {
    margin: 1.5rem 0 1rem;
}

.c_group--fill label,
.c_group:focus label,
.c_group:hover label {
    font-size: 60%;
    top: -8px;
}

.c_group input {
    font-size: 18px;
}

.modal-footer button {
    margin: 0 auto;
}

.card--profile {
    margin: 8vh calc(80px + 3rem) 0 3rem;
    max-width: 90%;
    padding: 1.5rem 1.5rem 1rem;
}

.card--profile .card-header {
    font-size: 20px;
}

.c_group--file {
    width: auto;
    overflow: hidden;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    position: relative;
    border: 1px solid #eaeaea;
    max-width: 200px;
    height: 200px;
    margin: 0 auto 0;
    cursor: pointer;
    margin-bottom: 8px;
}

.c_group__file {
    font-size: 90%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
}

.c_group__preview {
    width: 100%;
    height: 100%;
}

.c_group input:read-only {
    border: 0 !important;
}

.main #sidebar .user {
    width: 60px;
    height: 60px;
}

.main #sidebar .fa {
    font-size: 36px;
    top: 0;
    margin: 0;
    position: relative;
    animation: unset;
    left: 0;
    transform: unset;
    color: #fff;
    background: none;
}

.main #sidebar .fa.fa-user,
.main #sidebar .fa.fa-angle-down {
    background: none;
}

.main #sidebar .share i {
    font-size: 17px;
    margin-bottom: 20px;
    cursor: pointer;
    background: #fff;
    width: 30px;
    height: 30px;
    margin: 20px auto;
    color: rgba(62, 66, 73, 0.78);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main #sidebar .share i:hover {
    background: #2b939a;
    color: #fff;
}

.main #sidebar .share i:last-child {
    margin-bottom: 0;
}

.main #sidebar .menu {
    margin-top: 0;
    z-index: 999;
}

.main #sidebar .menu__icon--profile {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
}

.main #bottom .stat__name {
    font-size: 18px;
}

.main #bottom .stat__block {
    font-size: 20px;
    font-weight: 600;
}

.main #bottom .stat__title h3 {
    font-size: 24px;
    font-weight: 400;
    padding-top: 11px;
}

.main #bottom .filter {
    margin-top: 5px;
    padding-top: 5px;
}

.main #bottom .filter__item>.form-group label {
    margin-bottom: 0;
}

.main #bottom .filter__subname {
    margin-top: -2px;
    font-size: 12px;
    color: #fff;
}

.slider.slider-horizontal {
    margin-top: -3px;
}

.main #logo:hover h1 {
    color: #fff;
}

.ya-share2__list_direction_horizontal>.ya-share2__item {
    display: flex !important;
    width: 25%;
    text-align: center;
    margin: 0 !important;
    -webkit-filter: grayscale(75%) brightness(100%) contrast(93%);
    filter: grayscale(75%) brightness(100%) contrast(93%);
    align-items: center;
    justify-content: center;
}

.ya-share2__link {}

.galerea img {
    width: 100%;
    height: 40vh;
}

.top_border {
    font-size: 18px;
}

.yand_icon {
    color: #fff;
    padding-top: 5px;
}

.yand_icon:hover {
    opacity: 0.5;
}

.yand_icon .fa {
    margin-right: 5px
}

.bottom--fixed {
    position: fixed !important;
}

.bottom--fixed .filter {
    border: 0 !important;
}

table {
    width: 100%;
}

th {
    font-size: 16px;
}

tr {
    border-bottom: 1px solid #eae6e6;
}

td {
    padding: 10px 0;
}

.filter {
    position: relative;
}

.filter__link {
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    right: 0;
    top: 2px;
    z-index: 9;
}

.main #bottom .filter__item>.form-group label {
    color: #fff;
}

.clean_checkbox {}

.main .legend {
    position: absolute;
    font-size: 12px;
    bottom: 23vh;
    left: 0%;
    padding: 10px 15px;
    overflow: hidden;
    z-index: 2;
    width: 222px;
}

.main .legend:before {
    content: "";
    position: absolute;
    left: -16px;
    right: 60px;
    z-index: -1;
    display: block;
    background: rgba(249, 249, 249, 0.9);
    background-size: cover;
    width: 146%;
    height: 100vh;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    top: -15px;
}

.main .legend__row {
    overflow: hidden;
    margin-bottom: 5px;
}

.main .legend__icon {
    height: 14px;
    width: 14px;
    background: #747474;
    float: left;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 2px;
}

.main .legend__icon--green {
    background: #59a368
}

.main .legend__icon--orange {
    background: #ff8c4e
}

.filter__item.col-md-4 .form-group {
    color: #fff;
}

.main .legend__icon--red {
    background: #cb3e30
}

.main #bottom {
    z-index: 8;
    transition: all .7s;
}

#bottom.budget_bottom {
    left: 0;
}

.static {
    position: absolute;
    background: #fffc;
    padding: 15px 20px;
    width: 222px;
    bottom: 33vh;
}

.static h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    font-size: 20px;
    color: #333333;
}

.static h5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    font-size: 12px;
    color: #333333;
    margin-bottom: 2px;
    margin-top: 15px;
}

.main #bottom:before {
    content: "";
    position: absolute;
    left: -16px;
    right: 60px;
    z-index: -1;
    display: block;
    background-size: cover;
    width: 146%;
    height: 100vh;
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px); */
    top: -15px;
}

.main .map_card {
    max-width: 32rem;
}

.main .map_card__title {
    color: #747474;
}

.main .map_card__row_name {
    color: #747474;
}

.galerea img {
    max-width: 600px;
}

.history_view {
    background: #FFFFFF;
    width: 300px;
    height: max-content;
}

.view_complaint {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr auto;
    height: max-content;
    grid-gap: 30px;
    margin: 0 auto;
    width: 64%;
}

.view_complaint .review_card:nth-child(1) {
    margin: 0;
    margin-bottom: 30px;
}

.view_complaint .review_card {
    max-width: 100%;
    margin: 0;
    margin-bottom: 30px;
}

.history_view p {
    padding: 15px 25px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    font-size: 24px;
    color: #484848;
}

.history_view .review p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    font-size: 14px;
    color: #272727;
    margin: 0;
    padding: 0 10px;
}

.history_view .history_block p.span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    font-size: 14px;
    text-align: right;
    color: #748392
}

.history_view .history_block {
    padding: 15px 0;
}

.history_view .history_block p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    font-size: 14px;
    margin: 0;
    color: #272727;
    padding: 5px 25px;
}

.history_view .history_block {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}

.history_view .review {
    background: #D1F1E0;
    padding: 10px 15px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.history_view .review p.span {
    font-weight: 600;
}

.page-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    font-size: 36px;
    color: #393F43;
    margin-bottom: 30px;
}

.page-title.view {
    margin-bottom: 0;
    width: 80%;
}

.map_card__cube {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    border-radius: 5px;
    background: #747474;
    color: #fff;
}

.map_card__cube--danger {
    background: #cb3e30;
}

.map_card__cube--bad {
    background: #ff8c4e;
}

.map_card__cube--good {
    background: #59a368;
}

.info-card__t5ble {
    border-bottom: 0;
}

.info-card__t5ble td {}

.info-card__t5ble tr {
    border: 0
}

.info-card {
    margin-top: 20px;
}

.info-image {
    width: 100%;
    height: 100% !important;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.info-image img {
    width: 100%;
    height: 10px;
    opacity: 0;
}

.info-desc {
    min-height: 265px;
    padding: 20px 0px 20px 25px;
}

.info-card .card-header,
.info-card .card-body {
    padding: 0;
}

.info-card table {
    font-size: 14px;
}

.info-card table td {
    padding-bottom: 2px;
    padding-right: 15px;
}

.info-card .card-header {
    margin-bottom: 15px;
    padding-right: 35px;
}

.budget {
    margin-top: 15px;
}

.header-span {
    padding: 3px 13px;
    color: #59a368;
    background-color: #daf1e0;
    width: max-content;
    height: max-content;
    max-width: max-content;
    min-width: max-content;
    margin-left: 15px;
    position: relative;
}

.block1 {
    padding-right: 0;
}

.block2 {
    padding-left: 0;
}

.page-item.active .page-link {
    background-color: #17a2b8;
}

.pagination-block {
    margin-top: 50px;
    margin-left: 50px;
}

.pagination li {
    margin: 0 7px 0 0;
    width: 45px;
    padding: 4px 0;
    text-align: center;
    border: 1px solid #cdd6b1;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
}

.pagination li.active {
    color: #fff;
    background-color: #17a2b8;
    border: none;
}

.pagination li:hover {
    background-color: #eaf2d0;
}

.pagination li.active:hover {
    background-color: #17a2b8;
}

.pagination li.disabled {
    background-color: #fff;
    border: none;
}

/* Burger */

.nav-icon3 {
    width: 30px;
    height: 27px;
    position: relative;
    top: 0;
    left: auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin: 0 auto;
}

.nav-icon3 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

/* Icon 3 */

.nav-icon3 span:nth-child(1) {
    top: 0px;
}

.nav-icon3 span:nth-child(2),
.nav-icon3 span:nth-child(3) {
    top: 11px;
}

.nav-icon3 span:nth-child(4) {
    top: 22px;
}

.nav-icon3.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.rotate {
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    display: none;
}

.rotate.down {
    -moz-transform: translate(-50%) rotate(180deg) !important;
    -webkit-transform: translate(-50%) rotate(180deg) !important;
    transform: translate(-50%) rotate(180deg) !important;
}

.page-item.disabled .page-link {
    background-color: transparent;
    border: 0;
}

.pagination {
    margin-top: 25px;
}

.page-item.active .page-link {
    border: 0;
}

.page-link {
    margin-left: 0;
    border: 0;
    background: transparent;
    color: inherit;
}

.pagination li {
    background: #fff;
}

.pagination li:hover {
    color: #fff;
    background-color: #17a2b8;
    border: none;
}

.pagination li:hover .page-link {
    background-color: transparent;
    color: #fff
}

.str_info {
    text-align: center;
    margin: 15px 0;
    font-size: 18px;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 51px;
    }
    50%,
    100% {
        top: 19px;
        height: 26px;
    }
}

.lds-facebook_back {
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #3c999f;
    padding: 16%;
    display: none;
}

.lds-facebook_back.active {
    display: block;
}

/* How_work */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
.global_text {
    margin-top: 40px;
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
}

.global_text p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    font-size: 33px;
    color: #4F4F4F;
}

.how_work_card {
    display: -ms-grid;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 95px;
    align-items: center;
    margin-bottom: 150px;
}

.how_work_card .img {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    justify-self: center;
}

.how_work_card .img::before {
    content: "";
    width: 85%;
    height: 50px;
    background: #ccc;
    bottom: -2px;
    z-index: -1;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    filter: blur(15px);
}

.how_work_card .img img {
    height: 100%;
}

.how_work_card .how_work_text p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    font-size: 24px;
    color: #333333;
    margin: 0;
}

.how_work_card .how_work_text p.span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    font-size: 16px;
    color: #03B6C8;
}

.beta_card {
    position: relative;
    width: 320px;
    height: 55px;
    left: 0;
    top: 15px;
    background: rgba(237, 237, 237, 0.4);
    display: block;
    border-radius: 13px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
}

.beta_card p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    font-size: 18px;
    color: #333333;
    margin: 0;
}

.beta_card p.span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    font-size: 12px;
    color: #FFFFFF;
    background: #636365;
    border-radius: 11px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0 5px;
    position: absolute;
    right: 15px;
    top: 5px;
}

.logo_inside_beta {
    position: absolute;
    left: 1%;
    width: 500px;
    right: 1008px;
    top: 80px;
    bottom: 590px;
    background: #EDEDED;
    border-radius: 13px;
    padding: 15px;
    z-index: 99;
    height: max-content;
    display: none;
}

.logo_inside_beta p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    font-size: 14px;
    color: #4F4F4F;
}

.logo_inside_beta p a {
    color: #03B6C8;
}

.logo_inside_beta .close {
    position: absolute;
    top: 5px;
    right: 10px;
}

.logo_inside_beta .close i {
    color: #4F4F4F;
    font-size: 20px;
}

.blog_iamge {
    width: 30%;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
    margin-bottom: 10px;
    float: left;
    margin-right: 15px;
}

.blog_iamge img {
    width: 100%;
    height: auto;
}

#logo_inside a {
    display: flex;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 14px;
    color: #393F43;
    position: relative;
}

#logo_inside p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    font-size: 12px;
    color: #FFFFFF;
    padding: 0 7px;
    background: #636365;
    border-radius: 11px;
    position: relative;
    top: -5px;
    right: -15px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    float: right;
}

.main #logo a {
    display: flex;
}

.main #logo p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    font-size: 12px;
    color: #FFFFFF;
    padding: 0 7px;
    background: #636365;
    border-radius: 11px;
    position: relative;
    top: -5px;
    right: -15px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    float: right;
}

.menu_list_show__a p.beta {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    font-size: 11px;
    color: #FFFFFF;
    padding: 0 15px;
    background: #636365;
    border-radius: 11px;
    position: absolute;
    top: 15px;
    right: 15px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    float: right;
}

.content_link {
    color: #17a2b8
}

@media (max-width: 500px) {
    .info-card .mod_res {
        padding: 0;
    }
}

.c_group--file .fa {
    margin-top: 6px;
    font-size: 36px;
}

.c_group__image_list {
    overflow: hidden;
}

.class_flex {
    display: flex;
    align-items: flex-start;
}

.card--404 {
    margin-top: 13vh;
    text-align: center;
}

.title_404 {
    font-size: 120px;
}

#logo_inside #logo_inside_click {
    position: absolute;
    top: 0;
    right: -15px;
}

.main #logo_inside {
    position: relative;
    padding-right: 4rem;
    width: 320px;
    padding: 0;
    left: 0;
}

.menu_list_show.open .open_back {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(237, 237, 237, 0);
}

.menu_list_show__a {
    position: fixed;
    right: -100%;
    top: 0;
    height: 100ch;
    width: 225px;
    text-align: left;
    transition: all .10s;
    z-index: 999;
}

.menu_list_show__a .logo {
    background: #434347;
    padding: 25px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_list_show__a .logo img {
    width: 35px;
    margin-right: 10px;
}

.menu_list_show__a .logo h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    font-size: 11px;
    color: #FFFFFF;
    margin: 0;
    position: relative;
    top: 5px;
}

.menu_list_show__a.open {
    right: 80px;
}

.menu_list_show__a ul {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    background: rgba(62, 66, 73, 0.9);
}

.menu_list_show__a ul li {
    height: 50px;
    padding: 0 25px;
    display: flex;
    align-items: center;
}

.menu_list_show__a ul li.active {
    background: #333;
}

.menu_list_show__a ul li:hover {
    background: rgba(62, 66, 73, 1);
}

.menu_list_show__a ul li ul li:hover {
    background: #333;
}

.menu_list_show__a p {
    font-size: 35px;
    font-weight: 600;
}

.menu_list_show__a ul li ul {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid #ccc;
}

.menu_list_show__a ul li ul a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    font-size: 16px;
    color: #FFFFFF;
}

.menu_list_show__a ul li:nth-child(2) {
    height: auto;
    display: -ms-grid;
    display: grid;
    padding: 0;
    cursor: pointer;
}

.menu_list_show__a ul li:nth-child(2) ul {
    margin: 0;
    padding: 0;
    border: 0;
    height: 0;
    overflow: hidden;
}

.menu_list_show__a ul li.dropdawn_menu.open ul {
    height: auto;
}

.main #sidebar .menu_list_show__a ul li.dropdawn_menu.open a i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.menu_list_show__a ul li:nth-child(2) ul li {
    padding-left: 10px;
}

.menu_list_show__a ul li:nth-child(2) a {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 25px;
    justify-content: space-between;
}

.main #sidebar .menu_list_show__a ul li.dropdawn_menu a i {
    font-size: 22px;
}

.menu_list_show__a ul li.dropdawn_menu.open a i {
    position: relative;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.share_sidebar {
    padding-top: 0;
    background: #ffffffbd;
    position: fixed;
    right: 90px;
    top: 1vh;
}
.share_sidebar.mobile{
    display: none;
}

.share_sidebar.open .share__list {
    padding: 20px 25px;
    height: auto !important;
    padding: 20px 25px;
}

.share_sidebar.open .share__title,
.share_sidebar .share__title:hover {
    background: #fffc;
}

.share_sidebar .share__title {
    padding: 0 25px;
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    font-size: 14px;
    color: #333;
    margin: 0;
    height: 50px;
    cursor: pointer;
}

.share_sidebar.active .share__title {
    background: #333;
}

.share_sidebar.active {
    height: auto;
}

.share_sidebar img {
    margin-left: 12px;
    width: auto;
}

.ya-share2__container_size_m ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}

.ya-share2__container_size_m ul .ya-share2__badge {
    display: inline-block;
    vertical-align: top;
    border-radius: 2px;
    color: #fff;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.share_sidebar .share__list {
    background: rgb(62, 67, 74);
    overflow: hidden;
    height: 0;
}

.share_sidebar .share__list p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    font-size: 12px;
    color: #E0E0E0;
}

.share_sidebar .share__list p.url {
    background: #333;
    border-radius: 4px;
    height: 30px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main #sidebar .url .fa {
    font-size: 13px;
    position: relative;
    margin-left: 5px;
}

/* Translate */

#google_translate_element .goog-te-gadget-simple {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    font-size: 12px;
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: none;
    border: 0;
}

#google_translate_element .goog-te-gadget img {
    display: none;
}

#google_translate_element .goog-te-gadget-simple .goog-te-menu-value span {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    font-size: 14px;
    color: #FFFFFF !important;
    border: 0 !important;
}

#google_translate_element .goog-te-menu2 {
    background-color: rgb(62, 67, 74);
    text-decoration: none;
    border: 0;
    overflow: hidden;
    padding: 4px;
}

#google_translate_element .goog-te-gadget-simple .goog-te-menu-value span:last-child {
    display: none;
}

#google_translate_element .goog-te-gadget-simple .goog-te-menu-value span:nth-child(1)::before {
    content: "";
}

#google_translate_element .goog-te-gadget-simple .goog-te-menu-value span::before {
    content: "\f107";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#google_translate_element .goog-te-gadget-simple .goog-te-menu-value {
    color: #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main #logo .img {
    width: 60px;
    height: 60px;
    padding: 0;
    background: #fff;
    padding: 10px 12px;
    border-radius: 5px;
}

/* Complaint */

.complaint_block {}

.tabs_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #0000002b;
}

.tabs_block ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.tabs_block ul li {
    list-style: none;
}

.tabs_block ul li {
    height: 50px;
    margin-right: 45px;
    border-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs_block ul li.active {
    border-bottom: 3px solid #03b6c8;
}

.tabs_block ul li.active a {
    color: #393f43;
}

.tabs_block ul li a {
    color: #979da5;
    font-size: 14px;
    font-weight: 600;
    line-height: 42px;
}

.button_grid {
    display: flex;
}

.complain_form {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.03);
    border-radius: 2px;
    background-color: #ffffff;
    padding: 30px 25px;
    margin: 30px 0;
}

.complain_form h3 {
    color: #272727;
    font-size: 24px;
    font-weight: 400;
}

.form_input {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

.form_input p {
    color: #979da5;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    margin-top: 30px;
}

.form_input p:nth-child(1) {
    margin-top: 0;
}

.form_input textarea {
    width: 100%;
    height: 160px;
    border-radius: 2px;
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    padding: 15px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.form_input input {
    width: 100%;
    height: 45px;
    border-radius: 2px;
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    padding-left: 15px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.form_input input::placeholder {
    color: #979da5;
    font-size: 16px;
    font-weight: 500;
}

.form_input input:focus,
.form_input textarea:focus {
    outline: none;
}

.form_dropzone p {
    color: #979da5;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    margin: 0 !important;
}

.form_dropzone label {
    color: #03b6c8;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    margin: 0;
    margin-left: 10px;
}
.checkbox_complaint .custom-control-label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    font-size: 14px;
    color: #4F4F4F;
}
.checkbox_complaint .custom-control{
    margin-bottom: 10px;
}
.width_max_content{
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
    width: max-content;
    margin: 0 auto;
}
 .form_dropzone {
    position: relative;
    top: 0;
    width: 100%;
    height: 80px;
    border-radius: 2px;
    border: 2px dashed #e8e8e8;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_dropzone div {
    width: max-content;
    text-align: center;
    display: flex;
    align-items: center;
}

.form_dropzone input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 999;
}

#dropzone.dropped {
    background: #17a2b814;
    border: 2px dashed #17a2b8;
}

.complain_form .button {
    padding-top: 30px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.complaint_image {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 450px;
    grid-gap: 30px;
}

.ps-list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    height: 100%;
    width: 39%;
}

.pgwSlider>.ps-list>li {
    height: 60px;
}

.ps-current {
    width: 60%;
}

.contact_block {
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.17);
    background: #fff;
    width: 670px;
    margin: 0 auto;
    height: max-content;
    padding: 30px;
}

.contact_block .text p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    font-size: 24px;
    color: #393F43;
    margin-bottom: 30px;
    text-align: center;
}

.contact_block .form_input {
    grid-template-columns: 1fr;
}

.contact_block .form_input textarea {
    height: 150px;
}

.contact_block .form_dropzone {
    height: 80px;
    margin-bottom: 25px;
    top: 0;
}

.contact_block .form_dropzone div {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contact_block .form_dropzone div label {
    margin: 0;
    margin-left: 10px;
}

.contact_block button {
    margin: 0 auto;
}

.review_card:nth-child(1) {
    margin-top: 40px;
}

.main.scroll_y {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 100px;
}

.class_flex.m_button {
    margin-bottom: 40px;
}

.review_card {
    margin-top: 0;
    max-width: 64%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.review_card img {
    width: auto;
}

.review_card .author,
.review_card .like {
    display: flex;
    align-items: center;
}

.review_card .author p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    font-size: 16px;
    color: #484848;
}

.review_card .author p.data {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    font-size: 14px;
    margin-left: 30px;
    color: #748392;
}

.review_card .addres p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    font-size: 14px;
    margin: 10px 0;
    margin-top: 5px;
    color: #748392;
}

.back_complaint {
    margin: 10px 0;
    margin-bottom: 20px;
}

.back_complaint a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
    line-height: 18px;
    font-size: 14px;
    margin: 0;
    color: #828282;
}

.back_complaint img {
    width: auto;
    margin-right: 10px;
}

.review_card .text p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    color: #484848;
    margin-bottom: 10px;
}

.review_card .text {
    margin-top: 10px;
}

.review_card .view_complaint_text a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    font-size: 20px;
    color: #272727;
}

.review_card .view_complaint_text a:hover {
    color: #03B6C8;
}

.review_card .answer p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    font-size: 24px;
    margin-bottom: 10px;
    color: #484848;
}

.review_card .like p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 20px;
    color: #748392;
}

.answers {
    margin-top: 30px;
    padding-right: 0;
    position: relative;
}

.answers.close .answers_block {
    display: none;
}

.answers_block .review_card {
    margin: 0;
    max-width: 100%;
}

.answers.close .close_r,
.answers .close {
    display: none
}

.review_card .img .slick-slide img,
.review_card .img .slick-slide iframe,
.review_card .img .slick-slide video {
    width: 90%;
    margin: 0 auto;
}

.review_card .img {
    margin: 10px 0;
}

.answers.close .close {
    display: block;
}

.review_card .slick-next:before {
    content: url(/front/img/right.png);
}

.review_card button.slick-next.slick-arrow {
    right: -15px;
}

.open_close .line {
    width: 80%;
    height: 1px;
    background: #BDBDBD;
    margin-left: 15px;
}

.answers_block .line {
    width: 100%;
    background: #BDBDBD;
    height: 1px;
    margin-top: 15px;
}

.open_close {
    display: flex;
    align-items: center;
}

.answers img {
    margin-left: 15px;
}

.answers .open_close {
    display: flex;
    align-items: center;
}

.answers .open_close p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    font-size: 16px;
    color: #484848;
    cursor: pointer;
}

.author.grid_block {
    display: -ms-grid;
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    align-items: center;
    justify-content: flex-end;
}

.author.grid_block .status {
    background: #2F80ED;
    border-radius: 1px;
    padding: 0 15px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    font-size: 12px;
    color: #F2F2F2;
}

.author.grid_block .status.pr {
    background: #219653;
}

.author.grid_block .access_user {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    font-size: 14px;
    text-align: right;
    justify-self: flex-end;
    color: #748392;
    position: relative;
    display: flex;
    align-items: center;
}

.author.grid_block .access_user::before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background: #59A368;
    border-radius: 50%;
    left: -20px;
}

.author.grid_block .access_user.er::before {
    background: #E24444;
}

.list_style input{
    border: 1px solid #ccc;
    height: 40px;
    border-radius: 4px;
    padding: 10px;
}
.list_style input:focus {
    outline: none;
}
.list_style label {
    height: 40px;
    display: flex;
    align-items: center;
}
.list_style label select{
        margin: 0 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 40px;
        padding: 5px;
}
.list_style .dataTables_info {
    display: none
}
.list_style .dataTables_wrapper .dataTables_paginate {
    float: left;
}

.list_style .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    border: 1px solid #ccc;
    background: none;
    border-radius: 4px;
}
.list_style .paginate_button.previous {
    display: none !important;
}
.list_style table.dataTable td{
    border: 0 !important;
    border-right: 1px solid #ccc !important;
}
.list_style table.dataTable td:last-child {
    border-right: 0 !important;
}
.list_style table.dataTable thead .sorting{
    color: #03b6c8;
}
.list_style table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    margin: 25px 0;
    border-bottom: 1px solid #ccc;
}
