
#school_chart {
	height: 200px;
	max-width: 800px;
	margin: 0 auto;
}
#road_chart{
    height: 200px;
	max-width: 800px;
	margin: 0 auto;
}
#avarage_chart{
    height: 200px;
	max-width: 800px;
	margin: 0 auto;
}
.school_chart{

}
.school_chart__title_block{
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
}
.school_chart__title{
    margin-top: 10px;
    display: inline-block;
}
.school_chart__cube{
    background: #747474;
    color: #fff;
    font-size: 22px;
    float: right;
    padding: 5px 10px;
    border-radius: 5px;
}
.school_chart__cube--bad{
    background: #ff8c4e;
}
.school_chart__cube--danger{
    background: #cb3e30;
}
.school_chart__cube--good{
    background: #59a368;
}
.school_chart__legend{
    margin: 15px 0;
}
.school_chart__row{
    margin: 5px 0;
    overflow: hidden;
}
.school_chart__label{
    float: left;
    height: 20px;
    width: 20px;
    background: #747474;
    border-radius: 5px;
    margin: 2px 10px 5px 0;
}
.school_chart--green{
    background: #59a368;
}
.school_chart--orange{
    background: #ff8c4e;
}
.school_chart__per_title{

}
.school_chart__per_item{
    display: inline-block;
    margin-right: 25px;
}
.school_chart__per{
    height: 16px;
    display: block;
    width: 16px;
    background: #747474;
    border-radius: 5px;
    margin-right: 5px;
    float: left;
}
.school_chart__per--bad{
    background: #ff8c4e;
}
.school_chart__per--danger{
    background: #cb3e30;
}
.school_chart__per--good{
    background: #59a368;
}