@media (max-width: 1024px) {
    #nav-icon3 {
        display: block;
    }
    .col.list_style {
        width: calc(100% - 70px);
    }
    .page_header .page_buttun .btn {
        margin-left: 0;
        margin-right: 1rem;
        margin-top: 5px;
    }
    #bottom .col-md-3 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
    .page_header{
        display: block;
    }
    #bottom .row{
        align-items: center;
    }
    .review_card{
        margin: 30px calc(80px + 3rem) 0 3rem;
        max-width: 90%;
    }
    .review_card:last-child {
        margin-bottom: 100px;
    }
    .rotate{
        display: block;
    }
    .open_close .line{
        width: 75%;
    }
    .main #sidebar.opened {
        right: 0;
    }
    .main #bottom {
        bottom: -115px;
    }
    .main #bottom i {
        top: -80px;
        position: absolute;
        font-size: 30px;
        color: #2b939a;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        z-index: 99999;
        animation: bottom_down_up 4s infinite;
    }
    @keyframes bottom_down_up {
        0% {
            color: #2b939a;
        }

        33% {
           color: #ff8c4e;
        }
        66%{
            color: #cb3e30;
        }
        100% {
            color: #2b939a;
        }
    }

    .main #bottom.opend {
        bottom: 0;
    }
    .main #bottom .filter__item>.form-group label {
        font-size: 11px;
    }

    /* budget */

    .info-desc {
        padding: 10px;
    }
    .info-card .card-header {
        padding: 0;
    }
    .header-span {
        height: max-content;
        min-width: max-content;
    }
    .info-card .card-body .row {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .info-card__t5ble tr {
        border: 0;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 10px;
    }
    .info-card__t5ble tbody {
        display: grid;
        grid-gap: 5px;
    }
    .info-card table td {
        padding: 0;
    }
    .info-card {
        height: auto;
        overflow: hidden;
    }
    .block1 {
        padding-right: 0;
        height: inherit;
    }
    .info-image {
        width: 100%;
        height: 100% !important;
        overflow: hidden;
    }
    .content {
        font-size: 0.80rem;
    }
    .content {
        width: 100%;
    }

    /* are map */

    .a-description p{
        font-size: 20px;
    }
    .a-description h1{
        line-height: 35px;
        font-size: 30px;
    }
    .about_position_2 .my-card h2 {
        line-height: 30px;
        font-size: 20px;
    }
    .about_position_2 .my-card p {
        line-height: 20px;
        font-size: 13px;
    }
    .about_position_3 h2 {
        line-height: 37px;
        font-size: 30px;        
        margin-bottom: 25px;
    }
    .a-description p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        font-size: 14px;
        color: #4F4F4F;
    }
    .about_position_4 h2,
    .about_position_partners h2 {
        line-height: 35px;
        font-size: 30px;
    }
    .about_position_4 li {
        margin-bottom: 48px;
        line-height: 30px;
        font-size: 20px;
        color: #333333;
    }
    .about_position_5 {
        padding: 20px;
    }
    .about_position_5 p {
        margin-bottom: 20px;
    }
    .main #bottom.bottom--fixed {
        bottom: -110px;
    }
    .main #bottom.bottom--fixed.opend{
        bottom: 0;
    }
    .static{
        bottom: 34vh;
    }
    .view_complaint{
        display: grid;
        grid-template-columns: 1fr;
        height: max-content;
        grid-gap: 30px;
        margin: 0 auto;
        width: 75%;
    }
    .view_complaint .review_card:last-child{
        margin-bottom: 0;
    }
}

@media (max-width: 780px) {
    
    .contact_block{
        width: 90%;
        margin: 0;
    }
    
    .page_header {
        display: flex;
    }
    .page-title.view{
        width: 98%;
    }
    button.btn.btn-info.pull-right{
        float: unset;
    }
    .author.grid_block{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: flex-start;
        grid-gap: 10px;
        grid-column-gap: 50px;
    }
    .author.grid_block .access_user{
        margin-left: 20px;
    }
    .review_card .author p.data,
    .author.grid_block .status {
        margin-left: 0;
    }
    .open_close .line{
        width: 60%;
    }
    .answers{
        float: unset;
    }
    .class_flex{
        display: block;
    }
    .main #bottom.bottom--fixed.opend {
        height: auto;
    }
    .a-description .container {
        grid-gap: 90px;
    }
    .a-description .container .about_position_1 {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .a-description .container {
        display: block;
    }
    .a-description .container .about_position_1,
    .about_position_2,
    .about_position_3 {
        margin-bottom: 90px;
        width: 100%;
    }
    /* .main #bottom:before {
        background: rgba(175, 175, 175, 0.8);
    } */
    .mar_top {
        display: grid;
        grid-gap: 20px;
    }
    .card.mar_top {
        margin-bottom: 10px !important;
        display: block;
    }
    .page-title{
        font-size: 30px;
    }
    .text-large {
        font-size: 14px;
    }
    .text-blue {
        font-size: 18px;
    }
    .main .map_card {
        max-width: 23rem;
    }
    .main .map_card__title {
        font-size: 16px;
    }
    .main .map_card__attr>p {
        margin-bottom: 0;
        font-size: 14px;
    }
    .main .map_card__row {
        font-size: 14px;
    }
    .main .map_card__summ {
        font-size: 14px;
    }
    .main .map_card__summ__val {
        font-size: 16px;
    }
    .how_work_card {
        grid-gap: 20px;
        overflow: hidden;
    }
    .how_work_card .img{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 550px) {
    
.col-6{
    flex: 0 0 100%;
    max-width: 100%;
}
.justify-content-between {
    justify-content: unset !important;
}
    .logo_inside_beta {
        width: 95%;
    }
    .col.list_style {
        width: 100%;
    }
    .page_header .page_buttun{
        display: block;
    }
    .page_header .page_buttun .btn {
        margin: 0 auto;
        margin-bottom: 5px;
        width: 100% !important;
    }
    .main #sidebar .menu__a:hover .menu__title {
        left: -60%;
        opacity: 1;
        top: 75px;
    }
    .main #sidebar .user_prof .menu__title:nth-child(3) {
        top: 109px !IMPORTANT;
    }
    .page_header {
        display: block;
    }
    .main #sidebar .menu__title::before {
        content: "";
        width: 20px;
        height: 20px;
        background: #999ca3;
        position: absolute;
        transform: rotate(45deg);
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        top: 0;
    }
    .view_complaint{
        width: 98%;
    }
    .page_header .page_menu__a{
        width: 95px;
        height: 35px;
        font-size: 14px;
    }
    .main #sidebar .menu__icon--profile{
        border-radius: 50%;
        width: auto;
        height: 35px;
        margin: 0;
    }
    .card-body.mobiles .row{
        grid-template-columns: 1fr;
    }
    .card-body.mobiles .row .col-8,
    .card-body.mobiles .row .col-4 {
       flex: 0 0 100%;
       max-width: 100%;
    }
    .card--profile .card-header {
        font-size: 20px;
        padding: 0;
        text-align: center;
        margin-bottom: 10px;
    }
    .card-body.mobiles .row .col-4{
        grid-row-start: 1;
    }

    .card.mar_top{
        margin: 0 auto;
    }
    .open_close .line {
        width: 40%;
    }
    #bottom .col-md-3{
        flex: 0 0 100%;
        max-width: 100%;
    }
    #bottom .row{
        display: block;
    }
    
    .class_flex{
        position: relative;
        margin-top: 20px;
    }
    .form_input{
        grid-template-columns: 1fr;
    }
    .form_input p{
        font-size: 12px;
    }
    .form_input p{
        margin-top: 10px;
    }
    .form_input textarea{
        height: 130px;
    }
    .form_dropzone{
        height: 100px;
    }
    .modal-title{
        font-size: 18px;
    }
    .static {
        bottom: unset;
        top: 200px;
        display: none;
    }
    .contact_block .form_dropzone div{
        display: block;
    }
    .contact_block{
        width: 100%;
        padding: 10px;
    }
    .menu #google_translate_element {
        display: none;
    }
    .menu_list_show__a .logo img{
        width: 40px;
        margin-right: 20px;
    }
    .main #sidebar .menu__title{
        display: none;
    }
    .main #sidebar .share{
        bottom: 0;
        width: max-content;
        display: none;
    }
    .main #sidebar .menu__a.using a{
        height: 100%;
    }
    .menu_list_show__a .logo h2{
        line-height: 21px;
        font-size: 18px;
    }
    .logo_inside_beta {
        left: 2%;
        top: 75px;
    }
    .menu_list_show__a.open {
        right: 0;
        top: 50px;
        width: 100%;
    }
    .main #sidebar .menu{
        width: max-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        align-items: center;
        padding: 0;
    }
    .main #sidebar .menu div:nth-child(1) {
        grid-column-start: last-child;
        grid-row-start: 1;
    }
    .share_sidebar {
        display: none;
        top: 60px;
        right: 15px;
    }
    .ya-share2__list_direction_horizontal>.ya-share2__item{
        width: 100%;
    }
    .share_sidebar.open .share__list{
        padding: 0 10px;
        
    }
    .ya-share2__container_size_m ul .ya-share2__badge{
        margin-right: 0;
    }
    .share_sidebar img{
        margin-left: 0;
    }
    .ya-share2__container_size_m ul{
        display: block;
    }
    .ya-share2__link {
        margin-top: 10px !important;
    }
    .share_sidebar.mobile {
        display: block;
        height: max-content;
    }
    .main #sidebar .menu div:nth-child(2) {
         grid-column-start: 1;
         grid-row-start: 1;
    }
    .main #sidebar{
        width: 100%;
        height: 50px;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        padding: 0 10px;
    }
    .main #bottom i {
        top: unset;
        position: fixed;
        font-size: 30px;
        color: #2b939a;
        left: 50%;
        cursor: pointer;
        z-index: 99999;
        bottom: 0;
        height: 50px;
        background: rgba(249, 249, 249, 0.8);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main #bottom.opend {
        bottom: 0;
        height: 410px;
    }
    .main #bottom .stat__block {
        font-size: 17px;
    }
    .main #bottom .stat__name {
        font-size: 14px;
    }
    .main #bottom .stat__title h3 {
        font-size: 20px;
        padding: 0;
    }
    .main #bottom {
        width: 100%;
        bottom: -600px;
    }
    .main #sidebar .menu__a {
        padding: 0 5px;
        height: 100%;
    }
    .main #bottom .stat {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .main #logo {
        left: 5px;
        top: 55px;
        z-index: 9;
        display: none;
    }
    .main .legend{
        bottom: unset;
        top: 445px;
    }
    .main #logo p {
        right: 55px;
        height: max-content;
    }
    .mar_top .card-body td {
        font-size: 12px;
        padding: 5px 1px;
    }
    .main #logo_inside {
        box-shadow: none;
        padding: 25px 0;
        display: flex;
    }
    .a-description .container {
        display: block;
        padding-top: 20px;
    }
    .card-body .row {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .main #bottom .filter {
        margin-top: 5px;
        padding-top: 5px;
        height: 400px;
        overflow-y: scroll;
    }
    .info-card {
        height: auto;
        display: block;
        overflow: hidden;
        width: 100%;
    }
    .main #bottom.bottom--fixed {
        bottom: -465px;
        padding: 5%;
        width: 93%;
    }
    .info-card {
        height: auto;
        display: block;
        overflow: hidden;
        width: 100%;
        margin: 0;
        padding: 10px 0;
    }
    .block2 {
        padding-left: 0;
        min-width: 100%;
        padding: 0;
    }
    .block1 {
        padding-right: 0;
        height: inherit;
        min-width: 100%;
        padding: 0;
        margin: 0;
    }
    .btn {
        margin-top: 10px;
    }
    .info-card .card-body .row {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }


    .text-large {
        font-size: 16px;
    }

    .mar_top .card-body td {
        font-size: 12px;
    }

    .mar_top .card-body th:nth-child(2) {
        width: 45%;
    }
    .mar_top .card-body th {
        font-size: 14px;
    }


    .a-description .container .about_position_1 {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 5%;
    }
    .about_position_2 {
        display: grid;
        justify-content: center;
        text-align: center;
        grid-gap: 30px;
    }
    .about_position_3 {
        display: grid;
        width: 90%;
        justify-content: center;
        padding: 0 5%;
        text-align: center;
    }
    .about_position_3 .about_img,
    .about_position_3 .about_text {
        width: 100%;
    }
    .about_position_4 {
        display: block;
        padding: 0 5%;
    }
    .map-description .map{
        display: none;
    }
    .about_position_4 ul {
        width: 100%;
    }
    .info-image{
        display: none;
    }
    .main .map_card__preview {
        display: none;
    }
    .main .map_card__status--done {
        display: none;
    }
    .main .map_card__top {
        height: 2rem;
    }
    .main .map_card__close {
        right: 1px;
        top: 1px;
    }
    .main .map_card {
        max-width: 23rem;
        left: 50%;
        transform: translate(-50%);
        top: 70px;
    }
    .global_text p {
        font-size: 24px;
    }
    .how_work_card .how_work_text p {
        line-height: 25px;
        font-size: 17px;
    }
    .how_work_card {
        margin-bottom: 50px;
    }
    .global_text {
        margin-bottom: 50px;
    }
    .global_text {
        margin-top: 15px;
    }
    .main #bottom.opend i.fa-chevron-up {
        top: -50px !important;
        position: absolute !important;
        bottom: unset !important;
        background: none;
        width: max-content;
    }
    .main #sidebar .menu .sub_menu__a {
        padding: 0px 20px;
    }
    .pagination li:nth-child(6),
    .pagination li:nth-child(7),
    .pagination li:nth-child(8) {
        display: none;
    }
    .sub_menu__a {
        font-size: 15px !important;
    }
}

@media (max-width: 380px) {
    .main #bottom {
        width: 100%;
        bottom: -550px;
        height: auto;
    }
    .author.grid_block{
        grid-column-gap: 13px;
    }
    /* .menu_list_show__a .logo img {
        width: 85%;
    } */
    .menu_list_show__a .logo h2{
        font-size: 16px;
    }
    .main #sidebar .fa {
        font-size: 30px;
    }
    .main #bottom.opend {
        height: auto;
    }
    .how_work_card {
        grid-template-columns: 1fr;
    }
    
    .main #bottom.bottom--fixed {
        bottom: -460px;
    }
    .page-title {
        font-size: 20px;
    }
    .text-blue {
        font-size: 14px;
    }
    .mar_top .card-body th {
        font-size: 12px;
    }
    .main #logo h1 {
        color: #393f43;
        font-size: 17px;
    }
    .main #bottom .filter__item > .form-group label {
        color: #fff;
        font-size: 12px;
    }
    .main #bottom .stat__title h3 {
        font-size: 20px;
    }
    .main #bottom .stat__name {
        font-size: 13px;
    }
    .main #bottom .stat__block {
        font-size: 14px;
    }
    .main #bottom .stat {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        align-items: end;
    }
    .info-card .card-header {
        padding: 0;
        font-size: 14px;
    }
    .info-card table td {
        padding: 0;
        font-size: 12px;
    }
    .main #logo_inside {
        box-shadow: none;
        padding: 10px 0;
        width: 100%;
    }
    .main #logo_inside h1 {
        font-size: 19px;
    }
    .mar_top .card-body td {
        font-size: 10px;
    }
    .text-large {
        font-size: 14px;
    }
    .a-description h1,
    .about_position_3 h2,
    .about_position_4 h2,
    .about_position_partners h2 {
        line-height: 30px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .class_flex {
        display: block;
        align-items: flex-start;
        top: 20px;
        position: relative;
    }
}

@media (max-width: 330px) {
    .form-group {
        margin-bottom: 4px;
    }
    .main #sidebar .fa {
        font-size: 30px;
    }
    .main #sidebar .menu__a {
        padding: 2px;
    }
    .main #bottom {
        bottom: -450px;
    }
    .main #logo h1 {
        font-size: 14px;
    }
    .card-body .row {
        grid-template-columns: 1fr;
    }
    .main #bottom.bottom--fixed {
        bottom: -365px;
    }
    .main #bottom {
        width: 100%;
        bottom: -450px;
    }
    .main #sidebar .menu__a {
        cursor: pointer;
        padding: 5px;
        position: relative;
    }
    .about_position_4 li {
        margin-bottom: 48px;
        line-height: 23px;
        font-size: 14px;
    }
    .main #logo_inside h1 {
        font-size: 16px;
    }
    .main #bottom .filter {
        height: 275px;
    }
    .main #bottom .filter {
        height: 275px;
    }
    .sub_menu__a {
        font-size: 12px !important;
    }
    .main #sidebar .menu .sub_menu__a {
        padding: 3px 0 0 20px;
    }

}
