.modal_mess--danger .modal-content{
    background: #bc0000;
    color: #fff;
}
.modal_mess--danger .modal-footer{
    border: 0;
}
.modal_mess--danger .modal-header{
    border: 0;
}
.modal_mess--danger .modal-body{
    text-align: center
}
.modal_mess--danger .modal-header .close{
    color: #fff;
    opacity: 1;
}
.modal_mess--danger .modal-footer button {
    background: #fff;
    border: 0;
    color: #bc0000;
}
.modal_mess--danger .modal-footer button:hover {
    opacity: 0.6;
}



.modal_mess--success .modal-content{
    background: #17a2b8;
    color: #fff;
}
.modal_mess--success .modal-footer{
    border: 0;
}
.modal_mess--success .modal-header{
    border: 0;
}
.modal_mess--success .modal-body{
    text-align: center
}
.modal_mess--success .modal-header .close{
    color: #fff;
    opacity: 1;
}
.modal_mess--success .modal-footer button {
    background: #fff;
    border: 0;
    color: #17a2b8;
}
.modal_mess--success .modal-footer button:hover {
    opacity: 0.6;
}