.activity_card{
    padding: 25px 15px;
    background: #FFFFFF;
    margin-top: 25px;

    .head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;

        .date{
            padding: 10px;
            background: #3B7EF9;
            border-radius: 3px;
            p{
                line-height: normal;
                font-size: 36px;
                text-align: center;
                margin: 0;
                color: #FFFFFF;
            }
            span{
                line-height: normal;
                font-size: 12px;
                display: block;
                text-align: center;
                color: #FFFFFF;
            }
        }
        .info{
            width: 100%;
            padding-left: 15px;

            p{
                display: flex;
                align-items: center;
                margin: 0;
                margin-bottom: 5px;

                i{
                    margin-right: 10px;
                    width: 5px;
                    display: flex;
                    align-content: center;
                    justify-content: center;
                }
                &:first-child{
                    margin-bottom: 10px;
                }
                &:last-child{
                    margin: 0;
                }
                &.clock,
                &.adres{
                    line-height: 19px;
                    font-size: 13px;
                    color: #6E7A8A;

                    img{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .body{
        a{
            text-decoration: none;
            line-height: 26px;
            font-size: 18px;
            margin-bottom: 10px;
            color: #41474E;
            display: block;
        }
        p{
            line-height: 20px;
            font-size: 14px;
            margin: 0;
            color: #575E65;
        }
    }
    .execution{
        margin-top: 25px;

        p{
            line-height: normal;
            font-size: 13px;
            margin-bottom: 10px;
            color: #575E65;
        }
        .link{
            p{
                margin: 0;
            }
        }
    }
}
.document_block{
    margin-top: 25px;
    border-top: 1px solid #9AA4B2;
    padding: 25px 15px;
    background: #fff;

    h3{
        margin-bottom: 15px;
        line-height: 26px;
        font-size: 18px;
        color: #41474E;
    }
}
.document_card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 15px;

    input{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        &:checked{
            &::before{
                opacity: 1;
            }
            &::after{
                opacity: 0;
            }
        }

        &:after{
            content: 'PDF';
            width: 35px;
            height: 35px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 9;
            background: #E8EBEF;
            line-height: 17px;
            font-size: 12px;
            text-align: center;
            color: #575E65;
            border-radius: 4px;
            transition: all .3s;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &::before{
            content: "\f00c";
            font: normal normal normal 18px/1 FontAwesome;
            opacity: 0;
            width: 35px;
            transition: all .3s;
            height: 35px;
            position: absolute;
            left: 0;
            color: #fff;
            top: 0;
            z-index: 999;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #3B7EF9;
        }
    }
    label{
        padding-left: 50px;
        margin: 0;
        p{
            line-height: normal;
            font-size: 16px;
            margin: 0;
            color: #41474E;
        }
        span{
            line-height: normal;
            font-size: 12px;
            color: #6E7A8A;
        }
    }
}
.link{
    margin-top: 5px;
    background: #E8EBEF;
    border-radius: 3px;

    p{
        line-height: normal;
        font-size: 12px !important;
        margin: 0;
        color: #9AA4B2 !important;
    }
    span{
        line-height: normal;
        font-size: 16px;
        color: #575E65 !important;
    }
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    justify-content: space-between;
}
.error_alert{
    padding: 15px 10px;
    background: #D9DEE4;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;

    p{
        line-height: normal;        
        font-size: 12px !important;
        margin: 0 !important;
        color: #FD6060 !important;
        padding-right: 20px;
    }
}
p{
    &.text_green{
        line-height: 16px;
        font-size: 12px;
        text-align: center;
        color: #FFFFFF;
        padding: 0 10px;
        background: #1DB08A;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        margin-bottom: 10px;
    }
}

.dbl_button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;

    &.m_5{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

a{
    text-decoration: none;

    &.button_green{
        line-height: 23px;
        font-size: 16px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #F2F2F2;
        width: calc(50% - 12px);
        height: 45px;
        background: #00A97D;
        border-radius: 3px;
        text-decoration: none;
    }
    &.button_blue{
        line-height: 23px;
        font-size: 16px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #F2F2F2;
        width: calc(50% - 12px);
        height: 45px;
        background: #3B7EF9;
        border-radius: 3px;
        text-decoration: none;
    }
    &.button_red{
        line-height: 23px;
        font-size: 16px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #F2F2F2;
        width: calc(50% - 12px);
        height: 45px;
        background: #FD6060;
        border-radius: 3px;
        text-decoration: none;
    }
    
    &.button_white{
        line-height: 23px;
        font-size: 16px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #6E7A8A;
        width: calc(50% - 12px);
        border: 1px solid #9AA4B2;
        height: 45px;
        background: #fff;
        border-radius: 3px;
    }
}