@media(max-width: 430px){
    .top_tabs{
        background: #FFFFFF;
        box-shadow: 0px 6px 11px rgba(0, 0, 0, 0.18);
        h1{
            line-height: normal;
            font-size: 34px;
            color: #41474E;
            padding: 15px;
        }

        .tabs{
            ul{
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
                margin-top: 15px;

                li{
                    list-style: none;

                    &.active{
                        a{
                            border-color: #3B7EF9;
                            color: #3B7EF9;
                        }
                    }
                    &:hover{
                        a{
                            color: #3B7EF9;
                        }
                    }

                    a{
                        line-height: 16px;
                        font-size: 14px;
                        color: #9AA4B2;
                        text-decoration: none;
                        display: block;
                        padding: 0 20px;
                        padding-bottom: 15px;
                        border-bottom: 2px solid #fff; 
                    }
                }
            }
        }
    }
}