// Fonts
@font-face {
	font-family: SF;
	src: url(./../fonts/sf-ui-display-medium.otf);
	font-weight: 500;
	font-style: normal;
}

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Variables
@import 'variables';
@import 'element';



body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    font-family: SF;
    background: #f5f4f9;
}

.container {
    max-width: 1230px;
}

.view_block{
    background: #fff;
    .head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;

        .date{
            padding: 10px;
            background: #3B7EF9;
            border-radius: 3px;
            p{
                line-height: normal;
                font-size: 36px;
                text-align: center;
                margin: 0;
                color: #FFFFFF;
            }
            span{
                line-height: 17px;
                font-size: 12px;
                display: block;
                text-align: center;
                color: #FFFFFF;
            }
        }
        .info{
            width: 100%;
            padding-left: 15px;

            p{
                display: flex;
                align-items: center;
                margin: 0;
                margin-bottom: 5px;

                i{
                    margin-right: 10px;
                    width: 5px;
                    display: flex;
                    align-content: center;
                    justify-content: center;
                }
                &:first-child{
                    margin-bottom: 10px;
                }
                &:last-child{
                    margin: 0;
                }
                &.clock,
                &.adres{
                    line-height: 19px;
                    font-size: 13px;
                    color: #6E7A8A;

                    img{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .execution{
        padding: 15px;
        // padding-bottom: 0;        
        border-bottom: 1px solid #9AA4B2;
        .document_block{
            padding: 0;
            padding-bottom: 15px;
            border: 0;
        }
    }
    .title{
        padding: 15px;
        padding-top: 0;
        h1{
            line-height: 26px;
            font-size: 18px;
            margin: 0;
            color: #41474E;
        }
    }
    .body{    
        padding: 15px;    
        h3{
            text-decoration: none;
            line-height: 26px;
            font-size: 18px;
            margin: 0;
            color: #41474E;
            display: block;
        }
        p{
            line-height: 20px;
            font-size: 14px;
            margin: 0;
            margin-top: 10px;
            color: #575E65;
        }
    }
    .dbl_button{
        padding-bottom: 25px;
    }
    .center_text{
        padding: 15px;
        background: #E3EBF6;

        p{
            line-height: 17px;
            font-size: 12px;
            margin: 0;
            color: #6E7A8A;
        }
        span{
            line-height: 23px;
            font-size: 16px;
            color: #41474E;
        }
    }
}






// Media

@import 'media';